<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 

<html class="no-js" ng-app="employeesApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        
    </head>
    <body>
        <div id="container">
            
            <h1>Angular JS Demo</h1>    
   
            <!-- main -->
            <div id="main">
                <div class="wrapper" ng-controller="employeesController">
                    Search: <input type="text" ng-model="searchText" />
                    {{ searchText }}

                    <h3>Employee</h3>
                    <ul>
                        <li ng-repeat="emp in employees | filter:searchText">{{ emp.name }} = <span class="total">{{ emp.total }}</span></li>
                    </ul>
                </div>    

            </div> 
            
            
        </div>  <!-- end container -->  
        
        
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="js/angular/angular.min.js"></script>
        <script src="js/angular/angular-route.min.js"></script>
        
        
        <script type="text/javascript">
        var app = angular.module('employeesApp', []);
                        
        
            
            app.controller('employeesController', function($scope) {
                
                $scope.employees = [
                    {"id":1, "name":"John", "total": 5.996 },
                    {"id":1, "name":"Ram", "total": 10.996 },
                    {"id":1, "name":"Anthony", "total": 10.994 },
                    {"id":1, "name":"Zeus", "total": 15.994 }
                ];
            
            });
            
        </script>
    </body>
</html>
